<% provide(:title, "Cv") %>
<h1>Cv</h1>
<div class="cv_image">
  <img src="/assets/sample.jpg" alt="画像" width="200">
</div>
<div class="cv_text">
  <p>
    石居　真信 <br>
    <br>
    1992　　　　埼玉生まれ<br>
    2017　　　　東京造形大学　卒業<br>
  </p>
  <p>
    個展<br>
    2019       『ジョンには見えている』　/  Breaveness Contemporary
  </p>
  <p>
    グループ展 <br>
    2017       『ZOKEI展（卒業制作展）』 / 東京造形大学 <br>
    2018    　　『作品を「飾る」#1 』 / 相原スタジオ　<br>
  </p>
  <p>
    パフォーマンス <br>
    2018        Super Open Studio 2018『できるだけ誠実にやる気のある灰を残す』 / アートラボ橋本
  </p>
  <p>
    参加 <br>
     2018　『スペクタクルの林間学校』（シアターコモンズ・ラボ / 冬季集中ラボ ） / SHIBAURA HOUSE
  </p>
</div>
<div class="after">

</div>
